parameters:
    level: max
    phpVersion: 80100
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#unserialize\(\) expects string, string\|null given#'
            count: 1
            path: tests/ConfigTest.php
        -
            identifier: missingType.iterableValue
