name: Code analysis

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: PHP ${{ matrix.php }} Static Analysis

    strategy:
      matrix:
        php: ["7.4", "8.0", "8.1", "8.2", "8.3", "8.4"]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer, phpstan
          extensions: intl, json, mbstring, xml
        env:
          COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.composer/cache
            vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer update --prefer-stable --prefer-dist --no-progress

      - name: Run static code analysis
        run: composer run-script check-${{ matrix.php }}
