name: Unit tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    paths:
      - "**.php"
      - composer.*

jobs:
  build:
    name: ${{ matrix.os }} PHP ${{ matrix.php }} - ${{ matrix.stability }} Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        php: ["8.1", "8.2", "8.3", "8.4"]
        stability: ["prefer-lowest", "prefer-stable"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer, phpunit
          extensions: intl, json, mbstring, xml
          coverage: pcov

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.composer/cache
            vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Run test suite
        run: composer run-script test

      - name: Upload to Coveralls (only PHP 8.3, ubuntu, stable)
        if: matrix.php == '8.3' && matrix.os == 'ubuntu-latest' && matrix.stability == 'prefer-stable'
        run: vendor/bin/php-coveralls --verbose --coverage_clover=build/logs/clover.xml --json_path build/logs/coveralls-upload.json
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          COVERALLS_PARALLEL: true
          COVERALLS_FLAG_NAME: PHP ${{ matrix.php }}

  coveralls:
    name: Coveralls Finished
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Notify Coveralls that all jobs are done
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
